<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>




</head>
<body>
    <div >
        <a href="/">Home</a>
        <a href="/blogs">Blogs</a>
        <a href="/blogs/new">New Blog</a>
      </div>