<%- include("partials/header") %>
<h1>Edit: <%= blog.title %></h1>
<div>
    <div>
            <form action="/blogs/<%= blog._id%>?_method=PUT" method="POST">
                <label for="blog[title]">Title</label>
                <input type="text" name="blog[title]" value="<%= blog.title%>">
                <label for="blog[image]">Image</label>
                <input type="text" name="blog[image]" value="<%= blog.image%>">
                <label for="blog[body]">Body</label>
                <textarea name="blog[body]" > <%= blog.title%> </textarea>
                <input type="submit">


            </form>
    </div>
</div>

<%- include("partials/footer") %>