<%- include("partials/header") %>

<h1>Index page!!</h1>

<% blogs.forEach(function(blog){ %>
    <div>
        <h2><%= blog.title%></h2>
        <img src="<%= blog.image %>" alt="">
        <span> <%= blog.created %></span>
        <p><%= blog.body.substring(0, 100) %>...</p>
        <a href="/blogs/<%= blog._id %>">Read more</a>
    </div>
<% }); %>


<%- include("partials/footer") %>