<%- include("partials/header") %>

<div>
    <div>
            <form action="/blogs" method="POST">
                <input type="text" name="blog[title]" placeholder="Title">
                <input type="text" name="blog[image]" placeholder="image">
                <textarea name="blog[body]"></textarea>
                <input type="submit">


            </form>
    </div>
</div>

<%- include("partials/footer") %>
