<%- include("partials/header") %>

<div>
    <div>
        <h1><%= blog.title %></h1>
        <img src="<%= blog.image %>" alt="">
        <span> <%= blog.created.toDateString() %></span>
        <p><%= blog.body %></p>
    </div>
    <div>
        <a href="/blogs/<%= blog._id%>/edit">Edit</a>
        <form action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>

<%- include("partials/footer") %>
